@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
	--primary: #2196f3;
	--secondary: orange;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size: 18px;
	background: antiquewhite;
}

section {
	border: 2px solid var(--secondary);
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 20px;
}

img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid orange;
	padding: 10px;
}
.container {
	margin: 20px auto;
	border: 3px solid rgb(75, 63, 63);
	border-radius: 5px;
	padding: 20px 30px;
	max-width: 1000px;
	background: linen;
}

.lesson {
	margin: 20px auto;
	max-width: 1000px;
	color: rgb(34, 32, 32);
	padding: 30px;
}

button {
	margin-top: 10px;
	width: 250px;
	font-size: 18px;
	background: var(--primary);
	color: white;
	padding: 5px 10px;
	border: var(--primary);
	outline: none;
	border-radius: 5px;
	letter-spacing: 2px;
	font-family: inherit;
	cursor: pointer;
}

button:hover {
	background: var(--secondary);
}

input {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 20px;
	border: 3px solid #2916f3;
	outline: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	color: purple;
}

a:hover {
	color: var(--secondary);
	text-decoration: underline;
}

p {
	font-size: 1rem;
	margin-bottom: 15px;
}

hr {
	border-top: 3px solid orange;
}

.random-user-card {
	display: flex;
	border: 2px solid orange;
	width: 150px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}
.random-user-img-avatar {
	border-radius: 50%;
}
.icon {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

li {
	list-style: none;
	margin-left: 30px;
	color: #2196f3;
	font-size: 22px;
}

.validation {
	margin-top: 10px;
	color: red;
}

.header {
	padding: 5px;
	text-align: center;
}

.footer {
	padding: 10px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.two-col {
	display: flex;
}
